<h1>To-do</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box("tag", tag.id, {checked: task.completed?}) %>
      <%= link_to "#{task.title}", task_path(task.id) %>
      <%= link_to "X", task_path(task.id), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add task', new_path %>
